.Headings {
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.Headings:before {
    content: "";
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 1%;
    border-bottom: 4px solid red;
}