.subdivision {
    /* border: 1px solid red; */
    height: 100%;
    align-items: center !important;

}

.carouselItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.carouselItem__img {
    /* border-radius: 10px; */
    width: 60%;
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 5px black; */
}

/* .supply-chain-wrapper {
    border: 1px solid black;

} */

.supply-chain-container {
    margin: 10px;
    /* border: 1px solid red; */
}

/* .supply-chain-container div {
    display: flex;
    justify-content: center;
    align-items: center;
} */